{%  load humanize %}
{%  include "title.html" %}
<p>Welcome to Mwmbl! Feel free to <a href="{% url "submit_domain" %}">submit</a> a site to crawl.
  Please read the <a href="https://book.mwmbl.org/page/curating/">guidelines</a> before editing results.</p>
<p>To contribute to the index you can get our Firefox Extension <a href="https://addons.mozilla.org/en-GB/firefox/addon/mwmbl-web-crawler/">here</a>.
For recent crawling activity see <a href="/stats">stats</a>.</p>
<br>
<div is="mwmbl-add-result" style="display: none">
  <form class="modal-content"
        hx-post="/app/add/"
        hx-target=".main"
        hx-include=".result,[name='csrfmiddlewaretoken']"
        hx-vals='{"query": "{{ query }}"{% if curation %}, "curation_id": {{ curation.id }}{% endif %}}'>
    <span class="close">&times;</span>
    <label>
      Enter a URL: <input class="add-result" name="new_url" placeholder="https://something.org">
    </label>
    <input type="submit" class="button" value="Save"/>
  </form>
</div>
{% if query %}
  <button class="button curate-add" is="mwmbl-add-button">＋ Add new</button>
  {% if curation %}
    <button class="button"
            id="revert-button"
            hx-post="/app/revert-current/"
            hx-target=".main"
            hx-include="[name='csrfmiddlewaretoken']"
            hx-vals='{"curation_id": {{ curation.id }}}'>↺ Revert {{ curation.num_changes }} change{{ curation.num_changes|pluralize:"s" }}</button>
  {% else %}
    <button class="disabled-button" id="revert-button">↺ Revert</button>
  {% endif %}
  {% if results %}
    <ul class='results'>
      {% for result in results %}
        {% include "result.html" %}
      {% endfor %}
    </ul>
  {% else %}
    <ul>
      <li class="home">
        <h1>
          No results found for "{{query}}".
        </h1>
      </li>
    </ul>
  {% endif %}
{% else %}
  <h1>Recent community activity</h1>
  <br>
  {%  for item in activity %}
    {% include "curation_item.html" %}
  {% endfor %}
  <br>
  <a href="{% url "curations" %}">All curations</a>
{% endif %}
