{%  load humanize %}
{%  include "title.html" %}
<div is="mwmbl-add-result">
  <form class="modal-content" style="display: none">
    <span class="close">&times;</span>
    <input class="add-result" name="new_url" placeholder="Enter a URL...">
    <button class="button"
            hx-post="/app/add/"
            hx-target=".main"
            hx-include=".result"
            hx-vals='{"query": "{{ query }}"{% if curation %}, "curation_id": {{ curation.id }}{% endif %}}'
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Save</button>
  </form>
</div>
<div class="main">
  {% if query %}
    <button class="button curate-add" is="mwmbl-add-button">＋ Add new</button>
    {% if curation %}
      <button class="button"
              id="revert-button"
              hx-post="/app/revert-current/"
              hx-target=".main"
              hx-vals='{"curation_id": {{ curation.id }}}'
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>↺ Revert {{ curation.num_changes }} changes</button>
    {% else %}
      <button class="disabled-button" id="revert-button">↺ Revert</button>
    {% endif %}
    {% if results %}
      <ul class='results'>
        {% for result in results %}
          {% include "result.html" %}
        {% endfor %}
      </ul>
    {% else %}
      <ul>
        <li class="home">
          <h1>
            No results found for "{{query}}".
          </h1>
        </li>
      </ul>
    {% endif %}
  {% else %}
    {%  for item in activity %}
      <ul>
        <li class="activity">
          <h1>
            {% if item.user %}{{ item.user }}{% else %}Anonymous{% endif %} made {{ item.num_changes | apnumber }}
            changes to <a href="/?q={{ item.query|urlencode }}">{{ item.query }}</a> {{ item.timestamp | naturaltime }}.
          </h1>
        </li>
      </ul>
    {% endfor %}
  {% endif %}
</div>
