p {
    font-size: 30px;
}

#container {
  width: 2100px;
  margin: 0 auto;
}


#search {
    display: block;
    width: 100%;

    outline: none;

    font-size: 50px;

    border: 2px solid #ccc;
    border-width: 4px;
    border-radius: 50px;

    padding-left: 25px;

    margin-top: 50px;
}

a {
    text-decoration: none;
}

