{% extends "base.html" %}

{%  load humanize %}

{% block content %}
  <br>
  <h1 class="center">Curation by {{ curation.user }} {{ curation.timestamp|naturaltime }}
    for query <a href="/?q={{ curation.query|urlencode }}">{{ curation.query }}</a></h1>
  <br>
  {# Only show if the user is logged in #}
  {% if user.is_authenticated %}
    {% if flags %}
      <p><b>This curation has been flagged.</b> If this is your curation, you can take a look at the
        <a href="https://book.mwmbl.org/page/curating/">guidelines</a> to  understand the moderation process and
        why it might have been flagged.</p>
      <ul>
        {% for flag in flags %}
          <li>{{ flag.user }} flagged this curation {{ flag.timestamp|naturaltime }} for <b>{{ flag.flag|lower }}</b> {% if flag.reason %} with reason: “{{ flag.reason }}” {% endif %}. Status <b>{{ flag.status|lower }}</b>.
          {% if perms.mwmbl.change_flag_status %}
            <button name="status" value="accept" hx-put="{% url "flag_curation" curation.id %}" hx-swap="outerHTML">Accept</button>
            <button name="status" value="reject" hx-put="{% url "flag_curation" curation.id %}" hx-swap="outerHTML">Reject</button>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <br>
    <a href="{% url "flag_curation" curation.id %}" hx-get="{% url "flag_curation" curation.id %}" hx-swap="outerHTML">Flag this curation</a>
  {% endif %}
  <br>
  <div class="compare">
    <div class="compare-item">
      <h1 class="center">Original results</h1>
      <ul class="results">
        {% for result in curation.original_results %}
          {% include "result-static.html" with query=curation.query %}
        {% endfor %}
      </ul>
    </div>
    <div class="compare-item">
      <h1 class="center">New results</h1>
      <ul class="results">
        {% for result in curation.new_results %}
          {% include "result-static.html" with query=curation.query %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
