{% extends "base.html" %}

{%  load humanize %}

{% block content %}
  <br>
  <h1 class="center">Curation by {{ curation.user }} {{ curation.timestamp|naturaltime }}
    for query <a href="/?q={{ curation.query|urlencode }}">{{ curation.query }}</a></h1>
  <br><br>
  <div class="compare">
    <div class="compare-item">
      <h1 class="center">Original results</h1>
      <ul class="results">
        {% for result in curation.original_results %}
          {% include "result-static.html" with query=curation.query %}
        {% endfor %}
      </ul>
    </div>
    <div class="compare-item">
      <h1 class="center">New results</h1>
      <ul class="results">
        {% for result in curation.new_results %}
          {% include "result-static.html" with query=curation.query %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
