{% extends "base.html" %}
{%  load humanize %}

{% block content %}
<h1>Stats for {{ domain_stats.domain_name }}</h1>
<ul>
<li>Number of URLs crawled today: {{ domain_stats.num_crawled }}</li>
<li>Number successfully retrieved: {{ domain_stats.num_successful }}</li>
<li>Number of links extracted from this domain: {{ domain_stats.num_links }}</li>
<li>Number of links which are new: {{ domain_stats.num_links_new }}</li>
<li>Number of results for this domain in the index: {{ domain_stats.num_index_results }}</li>
</ul>

<h1>Submissions for this domain</h1>
<ul>
  {% for domain_submission in domain_submissions %}
    <li>
      Submitted by {{ domain_submission.submitted_by }} {{ domain_submission.submitted_on|naturaltime }} - status {{ domain_submission.status }}
    </li>
  {% empty %}
    <li>No submissions for this domain</li>
  {% endfor %}
</ul>

{% for form in forms %}
  <br>
  <h1> Update submission from {{ form.instance.submitted_by }} {{ form.instance.submitted_on|naturaltime }}</h1>
  <br>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="id" value="{{ form.instance.id }}">
    <button type="submit">Update</button>
  </form>
{% endfor %}
{% endblock content %}
