{% extends "base.html" %}

{% block content %}

  <table>
  <thead>
  <tr>
  <th>Domain name</th><th>Crawled</th><th>Successful</th><th>Links</th><th>New links</th><th>Index results</th>
  </tr>
  </thead>
  {% for domain in domain_stats %}
    <tr>
      <td><a href="{% url "domain" domain.domain_name %}">{{ domain.domain_name }}</a></td>
      <td>{{ domain.num_crawled }}</td>
      <td>{{ domain.num_successful }}</td>
      <td>{{ domain.num_links }}</td>
      <td>{{ domain.num_links_new }}</td>
      <td>{{ domain.num_index_results }}</td>
    </tr>
  {% endfor %}
  </table>


{% endblock %}