{%  load humanize %}
{% if flags %}
  <div id="curation-flags">
  <p><b>This curation has been flagged.</b> If this is your curation, you can take a look at the
    <a href="https://book.mwmbl.org/page/curating/">guidelines</a> to  understand the moderation process and
    why it might have been flagged.</p>
  <ul>
    {% for flag in flags %}
      <li>{{ flag.user }} flagged this curation {{ flag.timestamp|naturaltime }} for <b>{{ flag.flag|lower }}</b> {% if flag.reason %} with reason: “{{ flag.reason }}” {% endif %}. Status <b>{{ flag.status|lower }}</b>.
      {% if perms.mwmbl.change_flag_status %}
        <button name="status" value="ACCEPTED" hx-post="{% url "flag_curation_update" flag.id %}" hx-swap="outerHTML" hx-include="[name='csrfmiddlewaretoken']" hx-target="#curation-flags">Revert</button>
        <button name="status" value="REJECTED" hx-post="{% url "flag_curation_update" flag.id %}" hx-swap="outerHTML" hx-include="[name='csrfmiddlewaretoken']" hx-target="#curation-flags">Ignore</button>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  </div>
{% endif %}
